@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
</div>

<div class="row">
    @*Card for adding environmental samples*@
    <div class="col-md-4 app-home-card">
        <a href="@Url.Action("Index", "EnvironmentalSamples")">
            <div>
                <div style="display: flex; flex-direction: row">
                    <img src="@Url.Content("~/Content/Images/search-icon.png")" alt="Submit Samples Icon" class="app-home-card-img" />
                    <h2 class="app-home-card-title">Environmental Log</h2>
                </div>
                <p class="app-home-card-body">See the records for all Environmental Samples.</p>
                @if (@ViewBag.TodaysSamples == 1)
                {
                    <p class="app-home-card-body app-home-card-body-description">@ViewBag.TodaysSamples sample today</p>
                }
                else
                {
                    <p class="app-home-card-body app-home-card-body-description">@ViewBag.TodaysSamples samples today</p>
                }
            </div>
        </a>
    </div>


    @*Card for submitting samples*@
    <div class="col-md-4 app-home-card">
        <a href="@Url.Action("Index", "SubmitSamples")">
            <div>
                <div style="display: flex; flex-direction: row">
                    <img src="@Url.Content("~/Content/Images/submit-samples-icon.png")" alt="SearchIcon" class="app-home-card-img" />
                    <h2 class="app-home-card-title">Submit Samples</h2>
                </div>
                <p class="app-home-card-body">Submit pending samples and create SARF form.</p>
                @if (@ViewBag.PendingSamples == 1)
                {
                    <p class="app-home-card-body app-home-card-body-description">@ViewBag.PendingSamples pending sample</p>
                }
                else
                {
                    <p class="app-home-card-body app-home-card-body-description">@ViewBag.PendingSamples pending samples</p>
                }
            </div>
        </a>
    </div>

    @*Card for viewing sample locations reference*@
    <div class="col-md-3 app-home-card">
        <a href="@Url.Action("Index", "SampleLocations")">
            <div>
                <div style="display: flex; flex-direction: row">
                    <img src="@Url.Content("~/Content/Images/search-icon.png")" alt="SearchIcon" class="app-home-card-img" />
                    <h2 class="app-home-card-title">Sample Sites</h2>
                </div>
                <p class="app-home-card-body">See a list of all the swab sites available.</p>
            </div>
        </a>
    </div>
</div>