@using QCEL.Models
@model QCEL.ViewModels.SubmitSampleViewModel
@{
    ViewBag.Title = "Submit Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Submit Samples</h2>

@using (Html.BeginForm("Submit", "SubmitSamples"))
{
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <table id="environmentalSamples" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Sample #</th>
                <th>Location</th>
                <th>Request Type</th>
                <th>Collection Date</th>
                <th>QC Initials</th>
                <th>Type/Number of Sample</th>
                <th>Micro Test</th>
                <th>Submit</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Samples.Count; i++)
            {
                <tr>
                    <td>@Model.Samples[i].SampleNumber</td>
                    <td>@Model.Samples[i].Location</td>
                    <td>@Model.Samples[i].RequestType</td>
                    <td>@Model.Samples[i].CollectionDate.Value.ToString("MM/dd/yyyy")</td>
                    <td>@Model.Samples[i].Initials</td>
                    <td>@Model.Samples[i].Type</td>
                    <td>@Model.Samples[i].MicroTest</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedSamples"
                                       value="@Model.Samples[i].Id"
                                       @if (Model.SelectedSamples.Contains(@Model.Samples[i])) { <text> checked </text>  } />
                            </label>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#environmentalSamples").DataTable({
                "order": [[3, "desc"]]
            });
        });
    </script>

}