@model QCEL.ViewModels.NewEnvironmentalSampleViewModel
@{
    ViewBag.Title = "New Environmental Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Create", "EnvironmentalSamples"))
{
    <div class="form-group">
        <p></p>
        @Html.LabelFor(m => m.EnvironmentalSample.Location)
        @Html.DropDownListFor(m => m.EnvironmentalSample.Location, new SelectList(Model.SampleLocations, "Location", "Location"), "Select Sample Location", new {@class = "form-control", id = "locations"})
    </div>
    <div class="form-group" id="DescriptionsDivId">
        @Html.LabelFor(m => m.EnvironmentalSample.Description)
        @Html.DropDownListFor(m => m.EnvironmentalSample.Description, new SelectList(Model.SampleLocations, "Description", "Description"), "Select Description", new { @class = "form-control", id = "descriptions" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EnvironmentalSample.CollectionDate)
        @Html.TextBoxFor(m => m.EnvironmentalSample.CollectionDate,"{0:dd MMM yyyy}", new {@class = "form-control", @Value = @DateTime.Now.ToShortDateString()})
    </div>
    <button type="submit" class="btn btn-primary" id="SubmitId">Save</button>
}

@section Scripts{
    <script>
        $(document).ready(function() {
            //Initialize variable to hold location selected
            var selectedLocation;

            //On document ready...
            // Hide Description Dropdown
            $("#DescriptionsDivId").hide();
            // Hide Save Button
            $("#SubmitId").hide();

            //Function to handle when location is selected from drop down
            $("#locations").change(function () {
                //store selected value
                selectedLocation = $("#locations").val();
                //Load available descriptions from the db to the descriptions dropdown box and display
                loadDescriptions(selectedLocation);

                $('#SubmitId').show();
            });
        });

        function loadDescriptions(location) {
            $.ajax({
                //API url
                url: "/api/SampleLocations/GetDescription/?location=" + location,
                method: "GET",
                //If successful in finding data for selected location
                success: function (data) {
                    //Description is stored as a comma separated json string so we have to separate it
                    var descriptions = data.split(",");
                    //Show description drop down
                    $("#DescriptionsDivId").show();

                    //Get access to the dropdown box
                    $("#descriptions").html("");
                    //Initialize array that will hold the descriptions
                    var options = '';
                    //Populate array with descriptions
                    for (var i = 0; i < descriptions.length; i++) {  
                        options += '<option value="' + descriptions[i] + '">' + descriptions[i] + '</option>';  
                    }  
                    //Add the array to the drop down
                    $('#descriptions').append(options);
                },
                //In case nothing is returned from the api call
                error: function() {
                    $("#DescriptionsDivId").hide();
                }
            });
        }
    </script>
}