@model QCEL.ViewModels.NewEnvironmentalSampleViewModel
@{
    ViewBag.Title = "New Environmental Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Create", "EnvironmentalSamples"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.EnvironmentalSample.Location)
        @Html.DropDownListFor(m => m.EnvironmentalSample.Location, new SelectList(Model.SampleLocations, "Location", "Location"), "Select Sample Location", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EnvironmentalSample.CollectionDate)
        @Html.TextBoxFor(m => m.EnvironmentalSample.CollectionDate,"{0:dd MMM yyyy}", new {@class = "form-control", @Value = @DateTime.Now.ToShortDateString()})
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

